<!DOCTYPE html>
<html lang="en">

<!--Login Page-->

<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Document</title>
</head>

<body>
  <h1>ACME University</h1>
  <form action="{{ url_for('login')}}" method="post">
    <div class="login">
      <label for="username">Username</label>
      <input type="text" name="username" id="userName" placeholder="Username">
      <br><br>
      <label for="password">Password</label>
      <input type="password" name="password" id="Password" placeholder="Password">
      <br><br>
      <button type="submit" value="submit">Sign in</button>
    </div>
  </form>
</body>


</html>